*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    
}
html,body{
    overflow-x: hidden;
}

.mainBox{
width: 80%;
margin: auto;

}
.topBox{
    background-color:#2980B9;
    text-align: center;
    padding: 10px 0px;
    color: white;
}



.controlLeftRightBox{
width: 100%;
display: flex;
padding-top: 20px;
}

.left{
width: 50%;
background-color: #CACFD2 ;
padding: 10px 0px 10px 10px ;

}
.left h2{
 margin-bottom: 20px;
    
    }

.ageHeight input{
margin: 10px 5px;
padding: 5px;
}
#age{
    margin-left: 25px;
    margin-right: 20px;
}
#feet{
    margin-left: 10px;
}
#weight{
    margin-left: 8px;
}

input[type=button]{
    padding: 10px 15px;
    border: none;
    color: white;
    background-color:#1E8449 ;
}
input[type=reset]{
    padding: 10px 10px;
    border: none;
    color: white;
    background-color:#707B7C ;
}


.targetButton{
  padding-left: 55px;
  margin-top: 10px;

}

.right{
    width: 50%;
    padding: 3px 0px 10px 40px;
}
.right h2{
    background-color: #1E8449;
    color: white;
    padding:10px 0px ;
    text-align: center;
    margin-bottom: 20px;
}



.text{
    display: grid;
    grid-template-columns: repeat(4,1fr);
    margin-top: 20px;   
}
.text a{
    text-decoration: none;
    color: black;
font-size: 17px;
}
.moveOverweight{
margin-left: -35px;
}


.bar{
    display: grid;
    grid-template-columns: repeat(5,1fr);
    grid-template-rows: 50px;
     /* grid tem rowwork as a height of small Box */
margin-top: 20px;
}
.bar p{
    text-align: right;
    margin-right: -10px;
    z-index: 1;
    position: relative;
    font-size: 20px;
    font-weight: bold;
    margin-top: 10px;
    width: 100px;
}

.pink{
    background-color: #F08080;

}
.green{
    background-color:#27AE60 ;
}
.yellow{
    background-color: #F4D03F ;
}
.red{
    background-color: #C0392B;
}
.darkRed{
    background-color: #E74C3C ;
}


#showNumber{
margin: 20px 0px;
text-align: center;
}

#showResultBMI{
    background-color:#CACFD2 ;
    margin-left: 5px;
}

.describe{

}
/* moving circle */
#circle {
    width: 20px;
    height: 20px;
    border-radius: 50%;
    background-color:#2D4671;
    position: relative;
    top: -45px;
    left: 0px;
    padding: 0;
    margin: 10px 0;
    }


    /*ipad*/
@media screen and (max-width: 992px) {

    .mainBox{
        width: 70%;
        margin: auto;
        margin-top: 50px;
        
        }
    .controlLeftRightBox{
        width: 100%;
        display: flex;
        flex-direction: column;
        padding-top: 20px;
        align-items: center;
        justify-content: center;
        }
        
        .left{
        width: 100%;
        background-color: #CACFD2 ;
        padding: 10px 0px 10px 10px ;
    
        
        }
        .right{
            width: 100%;
            padding: 3px 0px 10px 0px;
            margin-top: 50px;
        }
  
  
  }
  
  /*ipad-mini*/
  @media screen and (max-width: 768px) {
  }
  
  /*phone*/
  @media screen and (max-width: 600px) {
    .mainBox{
        width: 80%;
        margin: 50px auto;
  
        
        
        }
    .controlLeftRightBox{
        width: 100%;
        display: flex;
        flex-direction: column;
        padding-top: 20px;
        align-items: center;
        justify-content: center;
        }
        
     
        /* <!-- age height target all input box inside */
        .ageHeight input{
            margin: 10px 5px;
            padding: 5px;
            width: 100px;
            }
       
            
            .bar{
                width: 100%;
                margin: auto;
               
                display: flex;
                /* display: grid;

                grid-template-columns: repeat(5,1fr);
                grid-template-rows: 50px; */
                 /* grid tem rowwork as a height of small Box */
            margin-top: 40px;
            }
            .pink{
                width:20%;
            }
            .green{
                width:20%;
            }
            .yellow{
                width:20%;
            }
            .red{
                width:20%;
            }
            .darkRed{
                width:20%;
            }
            
            .text{
                display: flex;
             justify-content: space-between;
               
            }
            .text a{
 
            }
            .moveOverweight{
                margin-left: 0px;
                }

  }
  

